:root {
  --color-interactive: 255, 255, 255;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.4) 0,
      rgba(var(--color-interactive), 0) 20%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  opacity: 1;
}